

.productos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 20px; /* Espacio entre productos */
    justify-items: center; /* Centra los productos en la columna */
    padding: 20px;
}

  
  /* Media Query para pantallas pequeñas */
  @media (max-width: 768px) {
    .productos-grid {
      grid-template-columns: 1fr; /* Cambiar a una sola columna */
      margin-top: 20px;
    }
    
    /* Aquí puedes añadir más ajustes si es necesario */
  }
  